body {
    font-family: Arial, sans-serif;
  }
  .App {
    text-align: center;
  }
  input {
    padding: 5px;
    margin: 10px;
  }
  button {
    padding: 5px;
    background: blue;
    color: white;
    border: none;
  }
  